{
  "extends": "stylelint-config-standard",
  "ignoreFiles": ['**/*.js', '**/node_modules/**'],
  "plugins": [
    "stylelint-no-unsupported-browser-features"
  ],
  // additonal rules based mainly on
  // https://github.com/stylelint/stylelint-config-standard#suggested-additions
  "rules": {
    // general
    "indentation": null,
    "no-missing-end-of-source-newline": null,

    // vendor prefixes
    // we expect all projects to use autoprefixer
    "at-rule-no-vendor-prefix": true,
    "media-feature-name-no-vendor-prefix": true,
    "property-no-vendor-prefix": true,
    "selector-no-vendor-prefix": true,
    "value-no-vendor-prefix": true,

    // selector specificity and nesting
    "selector-max-specificity": "0,3,0",
    "selector-max-compound-selectors": 4,
    "max-nesting-depth": [
      3, {
        "ignoreAtRules": [
          "include",
          "media"
        ]
      }
    ],

    // quotes
    "font-family-name-quotes": "always-unless-keyword",
    "string-quotes": "single",
    "function-url-quotes": "always",

    // declarations
    "declaration-no-important": true,
    "declaration-property-unit-whitelist": {
      "font-size": ["px", "em"]
    },
    'at-rule-no-unknown': [true, {
      ignoreAtRules: ['function', 'if', 'each', 'else', 'for', 'include', 'mixin', 'return', 'warn']
    }],
    'plugin/stylelint-no-unsupported-browser-features': [true, {
      severity: 'warning',
      ignore: ['css3-cursors', 'outline', 'object-fit', 'css-sticky', 'css-appearance', 'css-mixblendmode', 'word-break', 'user-select-none', 'css-resize', 'viewport-units', 'multicolumn', 'calc', 'rem', 'flexbox', 'css-filters', 'css-hyphens']
    }]
  }
}
